body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	color: rgb(24, 23, 23);
	background: #f2f2f2; 
	font-size: 1.2em;
	line-height: 1.5em;
	
	/* padding-top: 80px; */
}
#rappi {
    background-image: url('/public/img/Logo.png');
    
    height: 102px;
    width: 457px;
    position: absolute
}
h1 {
	font-size: 2.3em;
  line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}


/************ 
//-------------------------------
// CABECERA
//-------------------------------
************/
#main-header {
	background-image: url(../img/inicio1.jpg); /*Imagen del indice*/
    /* background-position: top; */
    background-size: cover;
    height: 10vh;
    min-height: 20rem;
}	
	#main-header a {
		/* background-color: rgb(255, 255, 255);
		border-radius: 4px;
		margin: 10px; */
		color: rgb(190, 103, 81);
	}
	
	
/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 25px 0 0 20px;
	text-decoration: none;
	
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 2.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	

/*
 * Navegación
 */
nav {
	float: right;
	font-family: 'Montserrat', sans-serif;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #ffffffa8;
				}
	



/************ 
//------------------------------
// CONTENIDO
//------------------------------
************/
#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

	#main-content header,
	#main-content .content {
		padding: 40px;
	}
.home{
	width: 40%;
	margin: 60px;
	padding: 77px 55px 53px 55px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}

.home a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #d3983f;
	border: 1px solid #d3983f;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.home a:hover{
	background: #d3983f;
	color: #fff;
}


/************
//-----------------------------
// PIE PÁGINA
//-----------------------------
************/
#main-footer {
	background: #333;
	color: white;
	text-align: left;
	padding: 10px;
	margin-top: 100px;
	font-family: 'Montserrat', sans-serif;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}