table {
    border-collapse: separate;
    border-spacing: 3px;
    box-align: right;
    background: rgba(255, 4, 4, 0.398) url("gradient.gif") bottom left repeat-x;
    color: rgb(255, 217, 0);

 }
 td, th {
    background: #fff;
    color: #000;
 }